.cart-table-section {
  margin: 20px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cart-table th {
  background-color: #f2f2f2;
}

.cart-table td button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-table td img {
  width: 100%;
  max-width: 100%; /* Set maximum width */
  height: auto;
  max-height: 200px; /* Set maximum height */
  border-radius: 5px;
}

.subtotal-section {
  margin-top: 20px;
}

.subtotal-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.subtotal-section table {
  width: 100%;
  border-collapse: collapse;
}

.subtotal-section td {
  padding: 3px;
}

.normal {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.normal:hover {
  background-color: #45a049;
}

.small-td {
  width: 60px;
}
