
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  padding: 0 20px; /* Added padding to create a gap */
}

.navbar-logo-container,
.navbar-links-container,
.navbar-menu-container {
  display: flex;
  align-items: center;
}

.navbar-logo-container img {
  max-width: 150px; 
  max-height: 250px; 
}

.navbar-links-container a {
  margin-left: 1rem;
  margin-right: 2rem; 
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.btn {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem; 
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.navbar-cart-icon {
  font-size: 1rem; 
}

@media (max-width: 768px) {
  nav {
    padding: 0 10px; 
  }

  .navbar-links-container {
    display: none; 
  }

  .navbar-menu-container {
    display: flex;
    margin-right: 10px; 
  }

  .navbar-links-container a,
  .btn {
    margin: 10px 0; 
  }
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 5px;
}

.search-box input {
  border: none; 
  outline: none; 
  flex: 1;
  padding: 5px;
}

.search-box img {
  max-width: 20px; 
  margin-left: 5px;
  cursor: pointer;
}

.search-box img:hover {
  opacity: 0.8;
}